{% extends 'base.html' %}

{% block title %} Текст {% endblock %} 

{%  block content %}
    <center>
        <div style="height: 100px; text-align: center; font-size: 30px;" >
            <a href="/">Домой</a>
        </div>
        {% for article in data %}
       <div class="artc" style="margin: 20px;">

            <h2><a href= {{ article['id']|string }}> {{article['title'] }}</a></h2>
            <p>{{ article['art_description'] }}</p>
        
       </div>
       {% endfor %}
    </center>

{% endblock %}