<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@316;415&family=Roboto&display=swap" rel="stylesheet">
    
    <title>Статьи</title>
</head>
<body>
    <center>
        <div style="height: 100px; text-align: center; font-size: 30px;" >
            <a href="/">Домой</a>
        </div>
        {% for article in data %}
       <div class="artc" style="margin: 20px;">

            <h2><a href= {{ article['id']|string }}> {{article['title'] }}</a></h2>
            <p>{{ article['art_description'] }}</p>
        
       </div>
       {% endfor %}
    </center>

</body>
</html>