<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@316;415&family=Roboto&display=swap" rel="stylesheet">
    


    <title>{% block title %} {% endblock %}</title>
    
    {% block script %} {% endblock %}


</head>
<body>
        {% if header %}
        <header>
            {% if not main_page %}
            <div class="head-el">
                <a href="/">Главная</a>
            </div>
            {% endif %}
            {% if loggined['loggined'] %}
            <div class="head-el">
                <a href="{{url_for('create')}}" >Добавить пост</a>
            </div>
            <div class="head-el">
                <a href="{{url_for('logout')}}">Выйти</a>
            </div>
            <div class="head_el">
                <span>Привет, <a href={{url_for('about_user', user=loggined['user'])}} class="head-el">{{ loggined['user'] }}</a>!</span>
            </div>
                {% endif %}
        </header>
        {% endif %}
        

        <div class="main-content">
        {% block content %} {% endblock %}
        </div>
    <footer>
        <div class="footer-content">
            <p>Максим Сабирзанов | 2022</p>
           
            <p><a href="mailto:me@maksonsab.ru " class="footer-content">Написать мне</a></p>
            
            <p><a href={{url_for('about_user', user='maksonsab')}} class="footer-content">Обо мне</a></p>
        </div>
    </footer>
</body>
</html>