{% extends 'base.html' %}

{% block title %} Добавить пост {% endblock %} 
{% set header = True %}
{%  block content %}

    <center>
        <h1 style="margin-top:100px">Добавить новость:</h1>
        <form method="post">
            {{ form.hidden_tag() }}

            <div>
                {{ form.title.label()}} {{ form.title() }}
            <div style="height: 5px;"></div>
            {{ form.description.label() }} {{ form.description()}}
            
            </div>
            <div style="margin:5px">
                {{form.content()}}
            </div>
            <div>
                {{ form.submit() }}
            </div>

        </form>
</center>



{% endblock %}