{% extends 'base.html' %}

{% block title %} Добавить пост {% endblock %} 
{% set header = True %}
{%  block content %}

    <center>
        <h1 style="margin-top:100px">Добавить новость:</h1>
        <div class="image-uploader">
            <form action="/upload_img" method="post" enctype="multipart/form-data"> 
                <label for="image-input">Превью поста</label> <input type="file" name="image-input">
                <input type="submit" id="upload-submit">
                
            </form>
        </div>
        <form method="post" action="/create">
            {{ form.hidden_tag() }}

            <div>
                {{ form.title.label()}} {{ form.title() }}
            <div style="height: 5px;"></div>
            {{ form.description.label() }} {{ form.description()}}
            <div style="height: 5px;"></div>
            {{ form.uri.label() }} {{form.uri()}}
            </div>
            <div style="margin:5px">
                {{form.content()}}
            </div>
            <div>
                {{ form.submit() }}
            </div>

        </form>
</center>



{% endblock %}