{% extends 'base.html' %}

{% block title %} Максим Сабирзанов {% endblock %} 
{% set header = False %}
{% set main_page = True %}
{% if loggined['loggined'] %}
    {% set header = True %}
{% endif %}
{%  block content %}
    <center>

        <div class="info-block">
            <img src="/static/graphics/logo.png" alt="logo" style="width: 100%;">
            <h1>Максим Сабирзанов</h1>
            <div class="social-links">
                <a href="https://twitter.com/maksonsab" target="blank"><img src="static/graphics/twitter.svg" alt="twitter" width="40px"></a>
                <a href="https://instagram.com/maksonsab" target="blank"><img src="static/graphics/instagram.svg" alt="instagram" width="40px"></a>
                <a href="https://vk.com/maksonsab" target="blank"><img src="static/graphics/vk.svg" alt="vk" width="40px"></a>
                <a href="https://github.com/maksonsab" target="blank"><img src="static/graphics/github.svg" alt="github" width="40px"></a>


            </div>
        </div>


    </center>
    <center>
        <div class="articles">
           
            
            {% for post in data %}
            
            
          
            <div class="artc">
                {{art}}
                <h3><a href={{ 'post/' + post['id']|string }}>{{post['title']}}</a></h3>
                <p>{{post['post_description']}}</p>
            </div>
            {% endfor %}

        </div>
        <div class="allart"><a href="/posts" id="allart">Все статьи</a></div>
    </center>
    
{% endblock %}